/* Exemplo de arquivo styles/Dashboard.module.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9FF;
  }
  
  .sidebar {
    background-color: #4FBBFF;
    color: white;
    width: 250px;
    padding: 1rem;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
  }
  
  .content {
    padding: 1rem;
    background-color: white;
    margin-left: 250px; /* Largura da sidebar */
  }
  
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFD438;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table thead {
    background-color: #4FBBFF;
    color: white;
  }
  
  .table thead th {
    padding: 0.5rem;
    text-align: left;
  }
  
  .table tbody td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:hover {
    background-color: #ddd;
  }
  
  .button {
    background-color: #4FBBFF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .button:hover {
    background-color: #42aaff;
  }
  
  .status-published {
    color: green;
  }
  
  .status-unpublished {
    color: red;
  }
  