.serviceCardContainer {
    position: fixed;
    /* Positioning relative to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it's above other content */
}

.serviceCardContent {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #001A2A;
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    z-index: 1001;

    max-height: 600px;
    /* Adjust based on your needs */
    overflow-y: auto;
    /* Enables vertical scrolling when content exceeds 500px */
}

.serviceCardContent div {
    margin-bottom: 2rem;
}


.serviceCardContent h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #003353;
}

.serviceCardContent p {
    margin-bottom: 0.5rem;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.editButton {
    background: #61C2FF;
    border: none;
    padding: .5rem 1rem;
    color: #001A2A;
    font-weight: 700;
    font-size: .75rem;
}

.deleteButton {
    background: #FF6B6C;
    border: none;
    padding: .5rem 1rem;
    color: #FFF;
    font-weight: 700;
    font-size: .75rem;
}

.close {
    background: none;
    border: none;
    font-weight: 700;
    color: #B6B8BC;
    cursor: pointer;
}

.serviceItems div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E7E8E9;
}

.serviceItems div h2 {
    font-size: 1rem;
    font-weight: 700;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serviceButtons {
    display: flex;
    gap: 1rem;
}

.confirmationModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
    /* Ensure it's above other content */
    animation: expandAnimation 0.3s ease-out;
}

.confirmationModalContent {
    margin-bottom: 20px;
}

.confirmationButton {
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.confirmButton {
    background-color: #FF6B6C;
    color: white;
}

.cancelButton {
    background-color: #ccc;
    color: black;
}

@keyframes expandAnimation {
    from {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.iconWarning {
    color: #FF6B6C;
    margin-bottom: 15px;
}

@keyframes fadeInScaleUp {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Fade out and scale down animation */
@keyframes fadeOutScaleDown {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.serviceCardContainer {
    animation: fadeInScaleUp 0.3s ease forwards;
    
}

.serviceCardContainer.closing {
    animation: fadeOutScaleDown 0.3s ease forwards;
    
}

.renewButton {
    background: #4CAF50; 
    border: none;
    padding: .5rem 1rem;
    color: #FFFFFF; 
    font-weight: 700;
    font-size: .75rem;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.renewButton:hover {
    background: #43A047; 
}