.serviceTable {
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.serviceTable thead {
    background-color: #F2F3F3;
    color: #001A2A;
}

.serviceTable th {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.serviceTable tr:nth-child(even) {
    background-color: #F2F3F3;
}

.serviceTable th {
    height: 50px;
}

.serviceTable tbody td:first-child {
    text-align: left;
}

.serviceTable tbody td {
    text-align: center;
    padding: .75rem 1rem;
}

.serviceTable tbody tr td:first-child {
    cursor: pointer;
}
