.serviceCardContainer {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    
    max-width: 496px;
    padding: 3rem;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    color: #001A2A;

}

.serviceCardContainer h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #003353;
}

.serviceCardContainer p {
    margin-bottom: 0.5rem;
}

.serviceItems div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid #E7E8E9;
}

.serviceItems div h2 {
    font-size: 1rem;
    font-weight: 700;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serviceButtons {
    display: flex;
    gap: 1rem;
}

.editButton {
    background: #61C2FF;
    border: none;
    padding: .5rem 1rem;
    color: #001A2A;
    font-weight: 700;
    font-size: .75rem;
}

.deleteButton {
    background: #FF6B6C;
    border: none;
    padding: .5rem 1rem;
    color: #FFF;
    font-weight: 700;
    font-size: .75rem;
}
